/* about panel general styling */
#about {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 80px;
    height: 24px;
    padding: 2px;
    background-color: #FFCC33;
    border: 1px solid #444444;
    vertical-align: top;
    overflow: hidden;
}

/* about panel styling */
#about > section, #about > header {
  margin-bottom: 18px;
  margin-top: 6px;
}

#about > section header h2 {
  font-weight: bold;
  font-family: Verdana,Arial,Helvetica,SunSans-Regular,Sans-Serif;
  font-size: inherit;
  padding: 0;
}

#about address {
  text-align: right;
  margin-right: 0.5em;
}

#about address::before {
  content: '--';
}

#about > section p {
  margin-bottom: 1em;
}

/* about panel open-close behavior */
#about {
  height: 640px;
  width: 320px;
  /* width, delay height by 1s and then trigger */
  transition: width 0.3s, height 0.3s ease 0.3s;
}

#about.closed {
  width: 80px;
  height: 24px;
  /* height, delay width by 1s and then trigger */
  transition: height 0.3s, width 0.3s ease 0.3s;
}

/* error bar */
#error-bar {
  height: 2em;
  transition: 1s height;
  background: rgb(255, 50, 50);
  width: 100vw;
  vertical-align: middle;
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  font-size: 11pt;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0;
  cursor: pointer;
}

#error-bar.closed {
  height: 0;
}

/* form styling */
#seed-id {
  border-color: #bbb;
  border-width: 1px;
  border-style: solid;
}

#seed-id:not(:valid) {
  border-color: red;
}

#generator {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* main styling */
body {
  background-image: url('../Includes/background.jpg');
  background-size: cover;
  color: #444444;
  font-family: Verdana,Arial,Helvetica,SunSans-Regular,Sans-Serif;
  font-size: 11px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 9em;
  width: 61.5em;
}

#main {
  background-color: #ddd;
  border: 1px solid #444;
  padding: 5px;
  text-align: center;
}

#main h1 {
  font-size: 11px;
}

#main > p, #main > h1 {
  margin: 0px;
  padding: 0px;
}
