/* about panel styling */
#about > section, #about > header {
  margin-bottom: 18px;
  margin-top: 6px;
}

#about > section header h2 {
  font-weight: bold;
  font-family: Verdana,Arial,Helvetica,SunSans-Regular,Sans-Serif;
  font-size: inherit;
  padding: 0;
}

#about address { 
  text-align: right;
  margin-right: 0.5em;
}

#about address::before {
  content: '--';
}

#about > section p {
  margin-bottom: 1em;
}

/* about panel open-close behavior */
#about {
  height: 640px;
  width: 320px;
  /* width, delay height by 1s and then trigger */
  transition: width 0.3s, height 0.3s ease 0.3s;
}

#about.closed {
  width: 80px;
  height: 24px;
  /* height, delay width by 1s and then trigger */
  transition: height 0.3s, width 0.3s ease 0.3s;
}

/* error bar */
#error-bar {
  height: 2em;
  transition: 1s height;
  background: rgb(255, 50, 50);
  width: 100vw;
  vertical-align: middle;
  line-height: 2em;
  text-align: center;
  overflow: hidden;
  font-size: 11pt;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0;
  cursor: pointer;
}

#error-bar.closed {
  height: 0;
}
