/* about panel styling */
#about > section, #about > header {
  margin-bottom: 18px;
  margin-top: 6px;
}

#about > section header h2 {
  font-weight: bold;
  font-family: Verdana,Arial,Helvetica,SunSans-Regular,Sans-Serif;
  font-size: inherit;
  padding: 0;
}

#about address { 
  text-align: right;
  margin-right: 0.5em;
}

#about address::before {
  content: '--';
}

#about > section p {
  margin-bottom: 1em;
}

/* about panel open-close behavior */
#about {
  height: 640px;
  width: 320px;
  /* width, delay height by 1s and then trigger */
  transition: width 0.3s, height 0.3s ease 0.3s;
}

#about.closed {
  width: 80px;
  height: 24px;
  /* height, delay width by 1s and then trigger */
  transition: height 0.3s, width 0.3s ease 0.3s;
}
