:host {
  display: block;
}

.sector-name {
  text-align: center;
  margin-bottom: 10px;
}

.sector-name h1 {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  margin-right: 1em;
}

.starchart-instructions {
  font-size: 10px;
  font-style: italic;
}

#starchart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#save {
  background-color: #ddd;
  border: 1px solid #444;
  text-align: center;
  padding: 5px;
}

tab-panel {
  border: 1px solid lightgrey;
  border-radius: 4px;
}

/* set a position on this so that our star-info hovers over everything else */
#overview-panel {
  position: relative;
  overflow: hidden;
}

star-map {
  transition: filter 1s;
}

star-map.info {
  filter: grayscale(50%) contrast(20%);
}

star-info {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.75s;
  transition-timing-function: cubic-bezier(0.390, -0.290, 0.750, 0.095);
  transform: scale(0.0);
}

star-info.open {
  display: block;
  transform: scale(1.0);
  transition-timing-function: cubic-bezier(0.250, 0.905, 0.610, 1.290);
}
