/* data table styling */
table {
  border-collapse: collapse;
  font-size: 10px;
  width: 100%;
  white-space: nowrap;
}

:host {
  display: block;
}

div#columns-wrapper {
  column-count: var(--columns, 1);
}

thead th {
  background-color: #999;
}

tbody tr {
  background-color: white;
}

tbody tr:nth-child(2n) {
  background-color: #ccc;
}

tbody tr.highlighted {
  filter: drop-shadow(0px 0px 4px blue);
}

:host([interactable]) tbody tr:hover {
  filter: drop-shadow(0px 0px 2px red);
}

:host([interactable]) tbody tr {
  cursor: pointer;
}
