host {
  display: block;
}

.hex polygon {
  stroke: black;
  stroke-width: 1;
  fill: none;
  transition: stroke-width 0.25s, transform 0.25s;
  fill: white;
  transform-origin: center;
}

svg.move .hex {
  cursor: pointer;
}

svg.move .hex:hover polygon {
  stroke: red;
  stroke-width: 3;
  z-index: 100;
  transform: scale(0.95);
}

.hex {
  cursor: default;
}

.hex text {
  transform: translate(0, -20px);
  fill: grey;
  user-select: none;
}

svg {
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star > circle {
  stroke: yellow;
  fill: yellow;
  stroke-width: 1;
  filter: url("#star-glow");
  transform-origin: center;
  transition: transform 0.25s;
}

.star text {
  transform: translate(0px, 20px);
  font-size: 8px;
}

svg:not(.move) .star:hover, .star.move {
  transform: scale(1.4);
}

svg:not(move) .star {
  cursor: pointer;
}

/* space theme */
:host(.space-theme) .hex polygon {
  fill: black;
  stroke: white;
}

:host(.space-theme) .star text {
  fill: white;
}

.world .orbit {
  stroke: white;
  fill: none;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
}

.world .planet {
  fill: blue;
}

.world {
  transform: rotateX(0deg);
}

.world:nth-child(2n) {
  transform: rotateX(60deg);
}

.world:nth-child(3n) {
  transform: rotateY(30deg) rotateX(60deg);
}

.world .planet {
  animation-duration: 4s;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes orbit {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.world:nth-child(2n) .planet {
  animation-duration: 5.5s;
}

.world:nth-child(3n) .planet {
  animation-duration: 8s;
}

svg:not(.move) .star:hover .planet, .star.move .planet {
  animation-play-state: running;
}

.world:nth-child(2n) > g {
  transform: rotateZ(120deg);
}

.world:nth-child(3n) > g {
  transform: rotateZ(240deg);
}
